/* Import Fonnts */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

/* Resets */
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Variables */

:root{
  /* Text && Fonts */
  --ff: "Barlow Semi Condensed", sans-serif;
  --fw-600: 600;
  --fw-700: 700;

  /* Screen Sizes */

  --sm: 320px;
  --md: 375px;
  --lg: 1366px;
  --main: 1920px;

  /* Colors */

  --scissor: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  --paper: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  --rock: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  --lizard: linear-gradient(hsl(261, 73%, 60%), hsl(261, 70%, 63%));
  --spock: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));

  --text-dark: hsl(229, 25%, 31%);
  --text-score: hsl(229, 64%, 46%);
  --outline-header: hsl(217, 16%, 45%);

  --bg-main: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

/* Containers */

.container{
  padding: 1.4rem;
  font-family: var(--ff);
  font-weight: var(--fw-600);
  background: var(--bg-main);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFF;
}

/* UI Components */

/* Header design */
header{
  outline: 1px solid var(--outline-header);
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 33rem;
  max-height: 7rem;
  border-radius: 0.5rem;
}

.title{
  line-height: 29px;
  font-size: 37px;
  font-weight: var(--fw-700);
}

.score-container{
  height: 100%;
}

.score{
  padding: 0.5rem 2.3rem;
  height: 100%;
  background-color: #FFF;
  border-radius: 0.3rem;
  color: var(--text-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.score-label{
  color: var(--text-score);
  font-size: 17px;
}

.current-score{
  font-size: 3rem;
  font-weight: var(--fw-700);
  color: var(--text-dark);
}

/* Game Design */

.game{
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
  'paper  scissors'
  'rock rock';
  place-items: center;
  height: 30rem;
  padding-top: 4rem;
  width: 30rem;
}

.game__choicebtn{
  background: none;
  border: none;
  padding: 1.5rem;
  border-radius: 50%;
  box-shadow: inset 0px -5px 13px #000;
}

.choice{
  border-radius: 50%;
  height: 10rem; 
  width: 10rem;
  display: grid;
  background-color: #fff;
  place-items: center;
  overflow: hidden;
}



/* Grid Area Declaration */
.game__choicebtn[data-choice="paper"]{
  grid-area: paper;
  background: var(--paper);
}

.game__choicebtn[data-choice="scissors"]{
  grid-area: scissors;
  background: var(--scissor);

}
.game__choicebtn[data-choice="rock"]{
  grid-area: rock;
  background: var(--rock);
}