/* ========================
   1. RESET / BASE
======================== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}


body {
    height: 100vh;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Slate-100);
    font-family: "PlusJakartaSans";
    
}

/* ========================
   2. VARIABLES CSS && FONTS 
======================== */
:root {
  --Slate-100: hsl(202, 86%, 94%);
  --Slate-300: hsl(203, 41%, 72%);
  --Slate-500: hsl(200, 26%, 54%);
  --Slate-700: hsl(200, 24%, 40%);
  --Slate-900: hsl(202, 55%, 16%);
  --Lime: hsl(61, 70%, 52%);
  --white-lime: hsla(61, 70%, 52%, 0.317);
  --Red: hsl(4, 69%, 50%);
  --White: hsl(0, 0%, 100%);
}

@font-face {
    font-family: "PlusJakartaSans";
    src: url("../fonts/static/PlusJakartaSans-Bold.ttf");
    font-weight: 700;
}


@font-face {
    font-family: "PlusJakartaSans";
    src: url("../fonts/PlusJakartaSans-VariableFont_wght.ttf");
    font-weight: 500;
}

/* ========================
   3. LAYOUT
   (Grids, containers, wrappers)
======================== */
.mortgage-calc{
    display: flex;
    background-color: var(--White);
    border-radius: 1.2rem;
    overflow: hidden;
    max-width: 1200px;
}




/* ========================
   4. COMPONENTS
   (Buttons, cards, navbars, footers)
======================== */

.part-1{
    width: 50%;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.text500{
    color: var(--Slate-500);
}

.item1{
    font-size: 1.5rem;
    font-weight: 700;
}

.amount{
    gap: 40px;
}

.inputs{
    position: relative;
    height: 3rem;
    overflow: hidden;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    border: 1px solid var(--Slate-500);
    border-radius: 0.3rem;
}

.inputs input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
}

#amt{
    text-indent: 50px;
}

#term, #rate{
    text-indent: 12px;
}
.part-2{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.term-interest{
    display: flex;
    justify-content: space-between;
    gap: 1.4rem;
    
}

div.term{
    flex-grow: 1;
}

div.interest{
    flex-grow: 1;
}

.results{
    font-weight: 700;
    font-size: 26px;
}

.description{
    color: var(--Slate-300);
    font-size: 19px;
}


.calculate{
    align-self: flex-start;
    background-color: var(--Lime);
    border: none;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    padding: 0.8rem 1.5rem;
    font-weight: 700;
    font-size: 1rem;
    gap: 1rem;
}

.your-result-desc{
    color: var(--Slate-300);
    font-size: 19px;
}

.display-result{
    padding: 2rem;
    border-top: 3px solid var(--Lime);
    border-radius: 0.9rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #000;
}
.monthly-repayment{
    color: var(--Slate-300);
    font-size: 18px;
}

.monthly-repayment-amt{
    height: 5.4rem;
    display: flex;
    align-items: center;
    font-size: 54px;
    font-weight: 700;
    color: var(--Lime);
    padding: 3rem 0;
}

.line{
    height: 1px;
    background-color: #fff;
    opacity: 0.3;

}

.repay{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.repay-title{
    color: var(--Slate-300);
}

.repay-show-money{
    font-weight: 700;
    font-size: 2rem;
}
/* ========================
6. UTILITIES
(Text-center, margin, padding, etc.)
======================== */

.none{
    display: none !important;
}
.abs{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    /* border: 1px solid; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    background-color: var(--Slate-100);
}

.abs-right{
    height: 100%;
    padding: 0 1rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    /* border: 1px solid; */
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Slate-100);
}

.gaps{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option{
    border: 1px solid var(--Slate-700);
    height: 3rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-weight: 700;
    border-radius: 0.3rem;
    padding: 0 1rem;
}

input[type="radio"] {
    height: 20px;
    width: 20px;
}

.bgc-flex{
    background-color: var(--Slate-900);
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 0 0 0 6rem;
    width: 50%;
    padding: 2rem;
    color: var(--White);
}


.yellow{
    background-color: var(--white-lime);
    border: 1px solid var(--Lime);
}