/* ========================
   1. RESET / BASE
======================== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    height: 100vh;

}

img{
   width: 10%;
   height: 100px;
}
/* ========================
   2. VARIABLES CSS && FONTS 
======================== */
:root {
   --clr-Purple-100: hsl(254, 88%, 90%);
   --clr-Purple-500: hsl(256, 67%, 59%);
   
   --clr-Yellow-100: hsl(31, 66%, 93%);
   --clr-Yellow-500: hsl(39, 100%, 71%);
   
   --clr-White: hsl(0, 0%, 100%);
   --clr-Black: hsl(0, 0.00%, 7.10%);

   --ff-main: "DMSans";
   --fw-normal: 400;
   --fw-bold: 700;
}

@font-face {
    font-family: "DMSans";
    src: url("./fonts/static/DMSans-Regular.ttf");
    font-weight: 400;
}

/* ========================
   3. LAYOUT
   (Grids, containers, wrappers)
======================== */
.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 13rem 13rem 13rem ;
    grid-template-areas: 
    'column1 column2 column2 column3'
    'column1 column2 column2 column3'
    'column1 column4 column4 column4'
    ;
}

.column1{
   background-color: var(--clr-Yellow-100);
}

.column2{
   background-color: var(--clr-Purple-500);
}

.column3{
   background-color: #000;
}

.column4{
   background-color: #000;
}

/* ========================
   4. COMPONENTS
   (Buttons, cards, navbars, footers)
======================== */


/* ========================
6. UTILITIES
(Text-center, margin, padding, etc.)
======================== */
