

:root{
    --purple: hsl(256, 67%, 59%);
    --light-purple: hsl(254, 88%, 90%);
    --yellow: hsl(39, 100%, 71%);
}


@font-face {
    font-family: "DMSans";
    src: url(./fonts/static/DMSans-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DMSans";
    font-size: 18px;
    display: flex;
    justify-content: center;
    background-color: hsl(0, 0%, 91%);
}

.container{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100vh;
    width: 90%;
}


img{
    height: 100px;
    width: 100px;
}
.social-media{
    background-color: var(--purple);
    color: var(--light-purple);
    width: 100%;
    min-height: 50%;
    border-radius: 5%;
    text-align: center;
    padding: 9% 9%;
}

.social-media-description{
    font-size: 2.2em;
    font-weight: 600;
}

.ten-times{
    color: var(--yellow);
}

.five-stars{
    width: 100%;
    height: auto;
}

/* Second Part */

.manage-multiple-account{
    background-color: hsl(0, 0%, 100%);
    padding: 6% 4%;
    border-radius: 10px;
}

.multiple-imgs{
    width: 100%;
    height: auto;  
}

.manage-multiple{
    font-size: 1.3em;
    font-weight: 600;
}

/* Third part  */
.maintain-consistant{
    background-color: hsl(39, 100%, 71%);
    text-align: left;
    padding: 4% 3% 0 3%;
    border-radius: 10px;
}

.maintain-consistant-schedule{
    font-size: 1.4em;
    font-weight: 600;
}

.maintain-consistant-img{
    width: auto;
}


/* Fourth Part */
.schedule-to{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    background-color: hsl(254, 88%, 90%);
    padding: 6% 4%;
    border-radius: 10px;
}

.schedule-to-social{
    font-size: 1.2em;

}

.schedule-to img{
    width: 100%;
    height: auto;
}

.optimize-posts{
    text-align: center;
}

/* Fifth Part */
